/* Background
-------------------------------*/
body {
    background-color: var(--px-bg);
    color: var(--px-text);
    font-family: $px-font;
    --bs-body-font-weight: 400;
    --bs-body-font-size: 1rem;
    --bs-body-line-height: 1.6;
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* ----------------------
*   owl 
---------------------------*/
.owl-dots {
    text-align: center;
    font-size: 0px;
    padding-top: 35px;
    .owl-dot {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid var(--px-text);
        transition: ease all 0.55s;
        border-radius: 8px;
        margin: 0 4px;

        &.active {
            background: var(--px-theme);
            width: 20px;
        }
    }


}

.owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;

    .owl-next,
    .owl-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 35px;
        height: 35px;
        background: var(--px-theme);
        color: var(--px-theme-text);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        pointer-events: auto;
        transition: ease all 0.35s;

        &:hover {
        	background: var(--px-theme-text);
        	color: var(--px-theme);
        }
    }

    .owl-next {
        right: 0px;

        @include up-lg {
            right: -50px;
        }
    }

    .owl-prev {
        left: 0px;

        @include up-lg {
            left: -50px;
        }
    }
}


/* ----------------------
*   Home Banner
---------------------------*/
.home-section {
    background: var(--px-black);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 100px;
    @include down-md {
        padding-top: 150px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 35%;
        background: var(--px-theme);
        pointer-events: none;
        z-index: -1;
        @include down-md {
            width: 100%;
            top: 75%;
        }
    }
    .hs-banner {
        @include down-md {
            display: block;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .fixed-skill {
        position: absolute;
        right: 30px;
        bottom: 50px;
        display: flex;
        align-items: center;
        @include down-md {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 10px 0;
                position: relative;
                &:first-child {
                    margin-bottom: 40px;
                }
            }
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: var(--px-white);
            border-radius: 50%;
        }
        label {
            text-transform: uppercase;
            color: var(--px-black);
            transform: rotate(90deg) translatey(80px);
            width: 200px;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 72px;
            letter-spacing: 4px;
            font-size: 14px;
            font-weight: 500;
            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                height: 30px;
                width: 2px;
                background: var(--px-white);
                transform: rotate(90deg) translateY(-20px);
                top: 0px;
                margin: auto;
            }
        }
    }
    .container {
        position: relative;
    }

    .hs-text-box {
        @include down-md {
            text-align: center;
        }
        h1 {
            font-weight: 400;
            font-size: 100px;
            position: relative;
            color: var(--px-white);
            margin: 0 0 30px;
            line-height: 1.1;
            @include down-lg {
                font-size: 80px;
            }
            @include down-md {
                font-size: 60px;
            }
        }
        h2 {
            border: 3px solid var(--px-theme);
            background: #FEEEB7;
            display: inline-block;
            vertical-align: top;
            padding: 7px 23px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3px;
            position: relative;
            @include down-md {
                font-size: 18px;
            }
            &:before,
            &:after {
                content: "";
                width: 8px;
                height: 8px;
                background: var(--px-theme);
                position: absolute;
                top: -8px;
            }
            &:before {
                left: -8px;
            }
            &:after {
                right: -8px;
            }
            > span {
                &:before,
                &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: var(--px-theme);
                    position: absolute;
                    bottom: -8px;
                }
                &:before {
                    left: -8px;
                }
                &:after {
                    right: -8px;
                }
            }
        }
    }
    .btn-bar {
        padding: 40px 0 60px;
        @include down-md {
            padding: 30px 0;
        }
    }
    .review-box {
        display: flex;
        padding-bottom: 100px;
        @include down-md {
            justify-content: center;
            padding-bottom: 50px;
        }
        .r-box {
            + .r-box {
                padding-left: 40px;
                @include down-md {
                    padding-left: 20px;
                }
            }
        }
        h3 {
            color: var(--px-white);
            font-weight: 700;
            margin: 0;
            font-size: 35px;
            @include down-md {
                font-size: 25px;
            }
            span {
                color: var(--px-theme);
            }
        }
        label {
            color: var(--px-white);
            @include down-md {
                font-size: 12px;
            }
        }
    }
}


.brand-section {
    border-bottom: 1px solid #eee;
}


/* ----------------------
*   Feature Box
---------------------------*/
.feature-box-01 {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 35px;
    display: flex;
    @include down-md {
        padding: 25px;
    }
    + .feature-box-01 {
        margin-top: 30px;
    }
    .feature-icon {
        width: 40px;
        height: 40px;
        display: flex;
        background: var(--px-black);
    }
    .feature-content {
        flex: 1;
        padding-left: 20px;
    }
    p {
        margin: 0;
    }
    h5 {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        @include down-md {
            font-size: 18px;
        }
    }
    ul {
        margin: 0;
        padding: 15px 0 0;
        list-style: none;
        li {
            padding-left: 15px;
            position: relative;
            + li {
                margin-top: 8px;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                width: 5px;
                height: 5px;
                background: #707476;
                border-radius: 50%;
            }
        }
    }
}

/* ----------------------
*   Projects
---------------------------*/
.project-box {
    padding: 40px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include down-md {
        padding: 30px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--px-black);
        opacity: 0.5;
        z-index: -1;
    }
    .project-desc {
        margin-top: 150px;
        max-width: 400px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(16px);
        padding: 35px;
        border-radius: 4px;
        @include down-md {
            padding: 25px;
        }
        h3 {
            color: var(--px-white);
            margin-bottom: 15px;
        }
        p {
            color: var(--px-white);
            margin: 0;
        }
        .btn-bar {
            padding-top: 25px;
        }
    }
    .project-tags {
        span {
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(16px);
            display: inline-flex;
            border-radius: 4px;
            padding: 8px 17px;
            color: var(--px-white);
            + span {
                margin-left: 8px;
            }
        }
    }
}


/* ----------------------
*   About
---------------------------*/
.about-section {
    background: var(--px-black);
    padding-top: 50px;
    overflow: hidden;
    .about-banner {
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            width: 500px;
            height: 500px;
            background: var(--px-theme);
            position: absolute;
            right: -50px;
            bottom: 0px;
            border-radius: 50%;
            z-index: -1;
        }
        img {
            max-width: 380px;
            margin: 0 auto;
            display: block;
        }
    }

    .about-text {
        padding: 80px 0;
        @include down-lg {
            padding: 30px 0;
        }
        @include down-md {
            padding: 0 0 40px;
        }
        h6 {
            margin: 0 0 15px;
            font-size: 14px;
            font-weight: 400;
            color: var(--px-white);
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        h3 {
            margin: 0 0 25px;
            font-size: 42px;
            font-weight: 400;
            color: var(--px-white);
            line-height: 1.15;
        }
        p {
            color: var(--px-white);
        }
    }
    .social-icon {
        display: flex;
        padding-top: 15px;
        a {
            width: 36px;
            height: 36px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.15);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--px-white);
            border-radius: 8px;
            transition: ease all 0.35s;
            font-size: 14px;
            &:hover {
                border: 1px solid var(--px-black);
                background: var(--px-white);
                color: var(--px-black);
            }
            + a {
                margin-left: 8px;
            }
        }
    }
}


/* ----------------------
*   Testimonials
---------------------------*/
.testimonials-box{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 40px;
    @include down-lg {
        padding: 25px;
    }
    .t-icon {
        margin: 0 0 30px;
    }
    h5 {
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0 0 20px;
    }
    p {
        letter-spacing: 1px;
    }
    .t-user {
        display: flex;
        align-items: center;
        .t-user-icon {
            width: 80px;
            height: 80px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                // object-fit: cover;
            }
        }
        h6 {
            margin: 0;
            font-weight: 400;
        }
        .t-text {
            flex: 1;
            padding-left: 15px;
        }
    }
}

/* ----------------------
*   Contact Us
---------------------------*/
.contactus-section {
    background: var(--px-black);
    .contact-form {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(16px);
        padding: 35px;
        border-radius: 16px;
        @include down-md {
            padding: 25px;
        }
        .form-control {
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.15);
            color: var(--px-white);
            box-shadow: none;
            padding: 0.575rem .75rem;
            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
            &:-moz-placeholder {
               color: rgba(255, 255, 255, 0.5);
               opacity:  1;
            }
            &::-moz-placeholder {
               color: rgba(255, 255, 255, 0.5);
               opacity:  1;
            }
            &:-ms-input-placeholder {
               color: rgba(255, 255, 255, 0.5);
            }
            &::-ms-input-placeholder {
               color: rgba(255, 255, 255, 0.5);
            }

            &::placeholder {
               color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .contact-info-title {
        color: var(--px-white);
        margin-bottom: 30px;
    }

    .contact-infos {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: flex;
            + li {
                margin-top: 25px;
            }
        }
        .icon {
            width: 60px;
            height: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(16px);
            color: #fff;
        }
        .col {
            padding-left: 20px;
        }
        h5 {
            color: var(--px-white);
            margin: 0 0 4px;
        }
        p {
            color: rgba(255,255,255,.7);
            margin: 0;
            font-size: 15px;
        }
    }
    .google-map {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(16px);
        padding: 10px;
        border-radius: 8px;
        iframe {
            border-radius: 6px;
        }
    }
}